services:
  fava:
    build:
      context: ./fava
    ports:
      - 5001:5001
    environment:
      - DATA_DIR=${DATA_DIR}
      - BUSINESS_NAME=${BUSINESS_NAME:-My Business}
    restart: always
    volumes:
      - ${DATA_DIR}:/app/data

  git:
    build:
      context: ./git
    environment:
      - DATA_DIR=${DATA_DIR}
    restart: always
    volumes:
      - ./git:/app
      - ${DATA_DIR}:/data
    depends_on:
      - fava

  # reverse-proxy:
  #   image: nginx:latest
  #   restart: always
  #   ports:
  #     - "${PORT}:80"
  #   volumes:
  #     - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
  #   depends_on:
  #     - fava
  #     - git
