services:
  fava:
    build:
      context: ./fava
    environment:
      - DATA_DIR=${DATA_DIR}
      - PORT=${PORT:-5000}
      - BUSINESS_NAME=${BUSINESS_NAME:-My Business}
      - CURRENCY=${CURRENCY:-NPR}
    restart: on-failure
    volumes:
      - ${DATA_DIR}:/app/data
    ports:
      - "${PORT:-5000}:${PORT:-5000}"

  git:
    build:
      context: ./git
    environment:
      - DATA_DIR=${DATA_DIR}
      - PORT=${GIT_PORT:-5000}
