services:
  fava:
    restart: always
    image: sumanchapai/bean-docker:latest
    environment:
      - DATA_DIR=${DATA_DIR}
      - BUSINESS_NAME=${TITLE:-Untitled}
    volumes:
      - ${DATA_DIR}:/app/data

  git:
    restart: always
    image: sumanchapai/gw:latest
    environment:
      - GW_REPO=/data
      - GIT_USER_EMAIL=${GIT_USER_EMAIL}
      - GIT_USER_NAME=${GIT_USER_NAME}
      - GITHUB_USERNAME=${GITHUB_USERNAME}
      - GITHUB_REPO=${GITHUB_REPO}
      - GITHUB_REPO_TOKEN=${GITHUB_REPO_TOKEN}
      - RESTRICTED_COMMANDS=${RESTRICTED_COMMANDS}
      - BACK_LINK=/
      - GIT_PAGE_TITLE=${TITLE}
      - BACK_LINK=/
      - BASE_PATH=/git
    volumes:
      - ${DATA_DIR}:/data
    depends_on:
      - fava

  reverse-proxy:
    restart: always
    image: nginx:latest
    environment:
      - PORT=${PORT}
    ports:
      - "${PORT}:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - fava
      - git
